body {
font-family: "Roboto", sans-serif;
color: #434455;
background-color: #FFFFFF;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}


/* ------------------------header--------------------- */
.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-menu-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-logo {
        font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #4d5ae5;
            padding: 24px 0;
            margin-right: 76px;
}

.header-logo-studio {
    color: #2e2f42;
}

.header-menu-link {
    display: block;
    padding: 23px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
}

.header-menu-link:hover {
    color: #404bbf;
}

.header-menu-link:focus {
    color: #404bbf;
}

.header-contacts {
    margin-left: auto;
    font-style: normal;
}

.header-contacts-link {
        display: block;
        padding: 24px 0;    
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.header-contacts-link:hover {
    color: #404bbf;
}
.header-contacts-link:focus {
    color: #404bbf;
}

/* ------------------------hero--------------------- */
.hero {
    background: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero-title {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
max-width: 496px;
margin: 0 auto 48px auto;
}

.hero-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff; 
    cursor: pointer;
    background-color: #4D5AE5;
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    min-width: 169px;
}

.hero-btn:hover {
    background-color: #404BBF;
}

.hero-btn:focus {
    background-color: #404BBF;
}

/* ------------------------avantages--------------------- */
.avantages {
    padding-top: 112px;
    padding-bottom: 120px;
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.avantages-list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.avantages-item {
    width: calc((100% - 72px) / 4);
}

.avantages-subtitle {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.avantages-item-text {
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
    line-height: 150%;
}

/* ------------------------team--------------------- */
.team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.container-subtitle-text {
   padding-bottom: 32px;
   padding: 32px 0;
}


.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    align-items: center;
    column-gap: 24px;
    gap: 24px;
}
.team-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
}
.team-item-images {
    display: block;
}

.team-subtitle {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}

.team-item-text {
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}

/* ------------------------portfolio---------------------  */

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-subtitle-text {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
}

.portfolio-item-images {
    display: block;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ------------------------footer--------------------- */

.footer {
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    display: inline-block;
}

.footer-logo-studio {
    color: #f4f4fd;
}
.footer-text {
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
